.App {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  justify-content: flex-start;
  font-size: 20px;
  color: white;
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  /* border: solid rgb(47, 45, 45); */
  /* border-radius: 10px; */
  padding-left: 8px;
}

.App-link {
  color: #61dafb;
}

button {
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  color: black;
  font-size: 12px;
}

input {
  width: 90%;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-radius: 5px;
  font-size: medium;
}

::placeholder {
  color: gray;
}

.mainFormDiv {
  /* border: solid red 2px; */
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}


/* INPUT LABELS */
.contextLabel {
  color: dodgerblue;
  font-size: 1.5em;
  font-weight: 700;
}

.catalystLabel {
  color: green;
  font-size: 1.5em;
  font-weight: 700;
}

.pointOfNoReturnLabel {
  color: orange;
  font-size: 1.5em;
  font-weight: 700;
}

.climaxLabel {
  color: firebrick;
  font-size: 1.5em;
  font-weight: 700;
}

.denouementLabel {
  color: violet;
  font-size: 1.5em;
  font-weight: 700;
}

.innerContextLabel {
  color: dodgerblue;
  font-weight: 700;
}

.innerCatalystLabel {
  color: green;
  font-weight: 700;
}

.innerPointOfNoReturnLabel {
  color: orange;
  font-weight: 700;
}

.innerClimaxLabel {
  color: firebrick;
  font-weight: 700;
}

.innerDenouementLabel {
  color: violet;
  font-weight: 700;
}

/* STORY POINT POPOVERS */
.contextPopover {
  background-color: black;
  border: dashed dodgerblue;
  font-weight: 600;
  color: dodgerblue;
}

.catalystPopover {
  background-color: black;
  border: dashed green;
  font-weight: 600;
  color: green;
}

.pointOfNoReturnPopover {
  background-color: black;
  border: dashed orange;
  font-weight: 600;
  color: orange;
}
.climaxPopover {
  background-color: black;
  border: dashed firebrick;
  font-weight: 600;
  color: firebrick;
}
.denouementPopover {
  background-color: black;
  border: dashed indigo;
  font-weight: 600;
  color: violet;
}

/* DRAWER 1 */

.rs-drawer-header {
  background-color: black;
}

h2 {
  color: white;
}

.rs-drawer-body {
  background-color: white;
}

.drawerWords1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  /* border: solid red; */
}
.drawerWords2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  /* border: solid red; */
}

h4 {
  /* border: solid red; */
}
.drawerImages1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  align-content: space-between;
  /* border: solid black; */
}
.drawerImages2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  align-content: space-around;
  /* border: solid black; */
}

#AboutImg {
max-height: 180px;
/* border: solid red; */
}
/* #About2 {
max-height: 210px;
} */

#buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* VISUALIZER */
#blankArc {
  max-width: 1500px;
}

#visualizerDrawer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 90px;
}

#contextBubble {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 220px;
  left: 10px;
  border: solid dodgerblue;
  color: dodgerblue;
  border-width: 7px;
  border-radius: 20px;
  height: 100px;
  width: 150px;
}
#catalystBubble {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 280px;
  left: 240px;
  border: solid green;
  color: green;
  border-width: 7px;
  border-radius: 20px;
  height: 100px;
  width: 150px;
}
#pointOfNoReturnBubble {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 220px;
  left: 550px;
  border: solid orange;
  color: orange;
  border-width: 7px;
  border-radius: 20px;
  height: 100px;
  width: 150px;
}
#climaxBubble {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 65px;
  right: 310px;
  border: solid firebrick;
  color: firebrick;
  border-width: 7px;
  border-radius: 20px;
  height: 100px;
  width: 150px;
}
#denouementBubble {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 196px;
  right: 60px;
  border: solid violet;
  color: violet;
  border-width: 7px;
  border-radius: 20px;
  height: 100px;
  width: 150px;
}