.App {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  justify-content: flex-start;
  font-size: 20px;
  color: white;
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  /* border: solid rgb(47, 45, 45); */
  /* border-radius: 10px; */
  padding-left: 8px;
}

.App-link {
  color: #61dafb;
}

button {
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  color: black;
  font-size: 12px;
}

input {
  width: 90%;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-radius: 5px;
  font-size: medium;
}

::placeholder {
  color: gray;
}

.mainFormDiv {
  /* border: solid red 2px; */
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}


/* INPUT LABELS */
.contextLabel {
  color: dodgerblue;
  font-size: 1.5em;
  font-weight: 700;
}

.catalystLabel {
  color: green;
  font-size: 1.5em;
  font-weight: 700;
}

.pointOfNoReturnLabel {
  color: orange;
  font-size: 1.5em;
  font-weight: 700;
}

.climaxLabel {
  color: firebrick;
  font-size: 1.5em;
  font-weight: 700;
}

.denouementLabel {
  color: purple;
  font-size: 1.5em;
  font-weight: 700;
}

.innerContextLabel {
  color: dodgerblue;
  font-weight: 700;
}

.innerCatalystLabel {
  color: green;
  font-weight: 700;
}

.innerPointOfNoReturnLabel {
  color: orange;
  font-weight: 700;
}

.innerClimaxLabel {
  color: firebrick;
  font-weight: 700;
}

.innerDenouementLabel {
  color: purple;
  font-weight: 700;
}

/* STORY POINT POPOVERS */
.contextPopover {
  background-color: black;
  border: dashed dodgerblue;
  font-weight: 600;
  color: dodgerblue;
}

.catalystPopover {
  background-color: black;
  border: dashed green;
  font-weight: 600;
  color: green;
}

.pointOfNoReturnPopover {
  background-color: black;
  border: dashed orange;
  font-weight: 600;
  color: orange;
}
.climaxPopover {
  background-color: black;
  border: dashed firebrick;
  font-weight: 600;
  color: firebrick;
}
.denouementPopover {
  background-color: black;
  border: dashed purple;
  font-weight: 600;
  color: purple;
}